<div class='carContainer'>
    <div class="dataColumn">
        <img class="avatar" [src]="imageUrl" alt="Image not found">
        <mat-divider></mat-divider>
        <p>Brand: <span class="data">{{car.brand}}</span></p>
        <mat-divider></mat-divider>
        <p>Model: <span class="data">{{car.model}}</span></p>
        <mat-divider></mat-divider>
        <p>Type:  <span class="data">{{car.type}}</span></p>
        <mat-divider></mat-divider>
        <p>Price: <span class="data">{{car.price}} €</span></p>
    </div>
    <div class="buttonColumn">
        <button mat-raised-button color="primary" (click)="navigateToEdit()"><mat-icon>edit</mat-icon></button>
        <button mat-raised-button color="warn" (click)="deleteCar()"><mat-icon>delete</mat-icon></button>
    </div>
</div>