<div class="container">
  <button mat-raised-button color="primary" (click)="navigateToViewCliet()">View clients</button>
  <button mat-raised-button color="primary" (click)="navigateToViewOrder()">View orders</button>
  <button mat-raised-button color="primary" (click)="navigateToViewItem()">View items</button>
  <button mat-raised-button color="primary" (click)="navigateToViewStorageLocation()">View storage locations</button>
  <button mat-raised-button color="primary" (click)="navigateToViewProvider()">View providers</button>
</div>

<router-outlet></router-outlet>