<div class="container">
  <button mat-raised-button color="primary" (click)="navigateToViewCliet()">Clients Table</button>
  <button mat-raised-button color="primary" (click)="navigateToViewOrder()">Orders Table</button>
  <button mat-raised-button color="primary" (click)="navigateToViewItem()">Items Table</button>
  <button mat-raised-button color="primary" (click)="navigateToViewStorageLocation()">Storage Locations Table</button>
  <button mat-raised-button color="primary" (click)="navigateToViewProvider()">Providers Table</button>
</div>

<router-outlet></router-outlet>